[Unit]
Description=HTTP Checker Service
After=network.target

[Service]
WorkingDirectory=/home/pi/git/vivi_postbox
ExecStart=/usr/bin/env python3 -m scripts.http_checker
Restart=always

[Install]
WantedBy=multi-user.target
