[Unit]
Description=LED and Audio Service
After=network.target

[Service]
ExecStart=/usr/bin/env python3 /Users/kappi/git/vivi_postbox/scripts/led_display.py
Restart=always

[Install]
WantedBy=multi-user.target
