[Unit]
Description=WiFi Manager Service
After=network.target

[Service]
ExecStart=/usr/bin/env python3 /Users/kappi/git/vivi_postbox/scripts/wifi_manager.py
Restart=always

[Install]
WantedBy=multi-user.target
