[Unit]
Description=WiFi Manager Service
After=network.target

[Service]
WorkingDirectory=/home/pi/git/vivi_postbox
ExecStart=/usr/bin/env python3 -u -m scripts.wifi_manager
Restart=always

[Install]
WantedBy=multi-user.target
